@font-face {
    font-family: 'Montserrat-bold';
    src: url('/src/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

.title {
    font-family: 'Montserrat-bold';
    color: #804517;
}